@model IEnumerable<HumanIndexViewModel>
@{
    ViewData["Title"] = "Humans";
}

<table class="table" style="text-align: center">
    <tr>
        <th>FirstName(simple link)</th>
        <th>FirstName(tag helper link)</th>
        <th>LastName</th>
        <th>Age</th>
        <th>CountryName</th>
    </tr>
    @foreach (var human in Model)
    {
        <tr>
            <td><a href="human?humanId=@human.Id">@human.FirstName</a></td>
            <td><a asp-controller="Human" asp-action="Index" asp-route-humanId="@human.Id">@human.FirstName</a></td>
            <td>@human.LastName</td>
            <td>@human.Age</td>
            <td>@human.CountryName</td>
        </tr>
    }
</table>